/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
}

header .container input {
  width: 50%;
  margin: 0 auto;
  height: 47px;
  align-self: center;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  margin-top: 10rem;
}

.home--data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.home--data__card {
  margin: 0.5rem;
}

.home--data__card h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.data-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.data-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* mock data component */
.mock--data__component {
  position: fixed;
  left: 80%;
}
.mock--data__component p {
  border: 1px solid grey;
  text-align: center;
}
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
div button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  position: absolute;
  left: 80%;
  top: 40%;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
